* text=auto
* eol=lf
*.css linguist-language=CSS
*.scss linguist-language=SCSS
*.sass linguist-language=SASS
*.js linguist-language=JavaScript
*.jsx linguist-language=JavaScript
*.md linguist-generated
*.example linguist-generated
