@use "index.scss" as *;

.app {
	@include flex-row;
	width: 100%;
	height: 100%;
	background-color: $brand-white;
	@include phone {
		flex-direction: column-reverse;
	}
	.bar {
		@include flex-column;
		width: 72px;
		min-height: 100vh;
		border-right: 2px solid darken($brand-white, 2%);
		justify-content: space-between;
		align-items: center;
		background-color: white;
		z-index: 1;
		@include phone {
			width: 100%;
			flex-direction: row;
			min-height: 50px;
			position: fixed;
			bottom: 0;
			border-right: none;
			border-top: 4px solid darken($brand-white, 5%);
		}
		.barOptions {
			width: 100%;
			@include phone {
				width: fit-content;
				height: 50px;
				@include flex-row;
				justify-content: flex-start;
				align-items: center;
			}
			.barOptionsButton {
				width: 100%;
				height: 48px;
				@include transition;
				border-radius: 0%;
				@include phone {
					width: 48px;
					min-height: 100%;
				}
				&:first-child {
					svg {
						width: 40px;
						height: 40px;
						@include phone {
							width: 30px;
							height: 30px;
						}
					}
					height: 100px;
					@include phone {
						width: 100px;
						height: 100%;
					}
				}
				svg {
					width: 22px;
					height: 22px;
					fill: lighten($brand-purple, 5%);
					@include phone {
						width: 18px;
						height: 18px;
					}
				}
				&:hover {
					background: $brand-accent-3;
				}
				&:active {
					background: $brand-accent-2;
				}
			}
			.barOptionsButtonActive {
				box-shadow: #6775ee 4px 0px 0px inset;
				@include phone {
					box-shadow: #6775ee 0px 4px 0px inset;
				}
			}
		}
		.barAccount {
			width: 100%;
			@include phone {
				width: 100px;
			}
			.barAccountButton {
				width: 100%;
				height: 80px;
				@include phone {
					height: 50px;
				}
				@include grid-center;
				.barAccountImage {
					width: 34px;
					height: 34px;
					border: 2px solid $brand-purple;
					border-radius: 50%;
					@include phone {
						width: 28px;
						height: 28px;
						border: 2px solid $brand-purple;
					}
				}
				@include transition;
				&:hover {
					background-color: $brand-accent-3;
				}
			}
		}
		.dropdownBarOptions {
			@include flex-column;
			position: absolute;
			width: 100px;
			margin-top: -100px;
			margin-left: 72px;
			background-color: $brand-white;
			border-radius: 4px;
			border: 1px solid $brand-accent-1;
			box-shadow: $shadow-lighten;
			@include phone {
				width: 100px;
				margin-top: -146px;
				margin-left: -6px;
			}
			.dropdownBarOption {
				width: 100%;
				height: 30px;
				@include transition(0.07s);
				&:hover {
					background-color: $brand-accent-3;
					&[name="danger"] {
						background-color: $danger-red;
						color: white;
					}
				}
			}
		}
	}

	main {
		@include flex-column;
		width: calc(100% - 56px);
		height: 100%;
		@include phone {
			width: 100%;
			height: calc(100% - 70px);
		}

		.pageTitle {
			@include font-proxima;
			display: flex;
			align-items: center;
			width: 100%;
			height: 100px;
			font-size: 48px;
			line-height: 72px;
			padding-left: 40px;
			background: white;
			border-bottom: 2px solid darken($brand-white, 2%);
			cursor: default;
			@include phone {
				width: 100%;
				height: 60px;
				font-size: 24px;
				line-height: 24px;
				padding-left: 30px;
			}
		}

		.calendarsPage {
			@include flex-row;
			flex-wrap: wrap;
			width: 100%;
			height: 100%;
			overflow: hidden scroll;
			scroll-behavior: smooth;
			padding: 30px;
			@include phone {
				padding: 20px;
			}
			.calendarElement {
				@include anim-fade-in;
				@include flex-column;
				justify-content: space-between;
				width: 340px;
				height: 340px;
				padding: 24px;
				margin-right: 40px;
				margin-bottom: 30px;
				background-color: white;
				box-shadow: $shadow-default;
				border-radius: 12px;
				@include transition(0.2s);
				&:hover {
					box-shadow: $shadow-darken;
					transform: translateY(-5px);
				}
				@include phone {
					width: 150px;
					height: 170px;
					padding: 10px;
					margin-right: 10px;
					margin-bottom: 10px;
					border-radius: 8px;
				}
				.calendarData {
					@include flex-column;
					.calendarTitle {
						@include flex-row;
						justify-content: space-between;
						width: 100%;
						margin-bottom: 40px;
						cursor: default;
						@include phone {
							margin-bottom: 10px;
							font-size: 14px;
						}
						.calendarButtonMore {
							width: 16px;
							height: 16px;
							@include phone {
								width: 12px;
								height: 12px;
							}
							svg {
								fill: $black-07;
								@include transition;
							}
							&:hover {
								background: transparent;
								svg {
									fill: $brand-purple;
								}
							}
						}
					}
					.calendarSpan {
						@include flex-row;
						align-items: center;
						margin-top: 14px;
						&:first-child {
							margin: 0;
						}
						font-weight: 400;
						font-size: 16px;
						@include phone {
							font-size: 8px;
							margin-top: 8px;
						}
						svg {
							width: 16px;
							height: 16px;
							fill: $brand-purple;
							margin-right: 6px;
							@include phone {
								width: 10px;
								height: 10px;
								margin-right: 4px;
							}
						}
					}
				}
				.calendarOpenButton {
					width: 100%;
					height: 40px;
					background: $brand-purple;
					color: white;
					font-size: 15px;
					font-weight: 600;
					letter-spacing: 1px;
					border-radius: 10px;
					box-shadow: $shadow-default;
					@include transition;
					@include phone {
						height: 24px;
						border-radius: 6px;
						font-size: 10px;
					}
					&:hover {
						background: darken($brand-purple, 6%);
					}
				}
			}

			.calendarCreateBlock {
				width: 340px;
				height: 340px;
				border: 1px solid $brand-accent-3;
				border-radius: 12px;
				@include flex-center;
				button {
					color: $black-07;
					@include transition;
					font-size: 14px;
					font-weight: 600;
					width: 54px;
					height: 54px;
					background: transparent;
					border-radius: 50%;
					svg {
						width: 24px;
						height: 24px;
						fill: $brand-accent-1;
					}
					&:hover {
						background: $brand-accent-3;
						svg {
							fill: $brand-purple;
						}
					}
				}
				@include phone {
					width: 150px;
					height: 170px;
					padding: 10px;
					margin-right: 10px;
					margin-bottom: 10px;
					border-radius: 8px;
				}
			}

			.dropdownOptions {
				@include flex-column;
				position: absolute;
				width: 100px;
				margin: 30px 0 0 200px;
				background-color: $brand-white;
				border-radius: 4px;
				border: 1px solid $brand-accent-1;
				box-shadow: $shadow-lighten;
				@include phone {
					width: 80px;
					margin: 20px 0 0 50px;
				}
				.dropdownOption {
					width: 100%;
					height: 30px;
					@include transition(0.07s);
					&:hover {
						background-color: $brand-accent-3;
						&[name="danger"] {
							background-color: $danger-red;
							color: white;
						}
					}
					@include phone {
						font-size: 12px;
					}
				}
			}
		}

		.userPage {
			@include flex-row;
			width: 100%;
			padding: 30px;
			@include phone {
				flex-direction: column;
				padding: 20px;
			}
			.userBanner {
				@include anim-fade-in;
				width: 400px;
				background: white;
				border-radius: 20px;
				box-shadow: $shadow-default;
				@include phone {
					width: 100%;
				}
				.userBannerImageBlock {
					width: 100%;
					height: 110px;
					background: $brand-purple;
					padding: 40px 0 0 20px;
					border-radius: 20px 20px 0 0;
					.userBannerImage {
						border-radius: 10px;
					}
				}
				.userBannerDataBlock {
					width: 100%;
					height: calc(100% - 100px);
					padding: 60px 20px 20px 20px;
					.userBannerDataName {
						font-size: 24px;
					}
					.userBannerDataStatus {
						font-size: 16px;
						color: $black-04;
						&[id="online"] {
							color: $brand-purple;
						}
					}
					.userBannerDataStat {
						@include flex-column;
						width: 100%;
						margin: 20px 0;
						.userBannerDataStatTitle {
							font-weight: normal;
							font-size: 14px;
							line-height: 20px;
						}
						div {
							@include flex-row;
							svg {
								width: 16px;
								margin-right: 4px;
								fill: $brand-purple;
							}
							.userBannerDataStatContent {
								font-size: 16px;
								line-height: 18px;
							}
						}
					}
				}
				.userBannerOwnerButton {
					@include grid-center;
					width: 100%;
					height: 34px;
					background: $brand-purple;
					color: white;
					border-radius: 8px;
					margin-top: 20px;
					font-size: 14px;
					letter-spacing: 0.6px;
					box-shadow: $shadow-default;
					@include transition;
					transition-property: background;
					&:hover {
						background: darken($brand-purple, 4%);
					}
				}
			}
			.userSharedCalendars {
				@include flex-center;
				width: calc(100% - 400px);
				margin-left: 40px;
				@include phone {
					margin: 20px 0 0 0;
					width: 100%;
				}
			}
		}

		.accountPage {
			@include flex-column;
			width: 100%;
			padding: 30px;
			@include phone {
				padding: 20px;
			}
			.accountPageMain {
				@include flex-row;
				width: 100%;
				justify-content: center;
				@include phone {
					flex-direction: column;
					align-items: center;
				}
				.accountImageBlock {
					@include flex-column;
					margin-right: 40px;
					@include phone {
						width: 100%;
						@include flex-center;
						margin: 0;
					}
					img {
						@include anim-fade-in;
						border-radius: 14px;
					}
					input {
						display: none;
					}
					label {
						color: $brand-purple;
						height: 30px;
						display: grid;
						place-items: center;
						border-radius: 6px;
						font-size: 14px;
						margin: 10px 0;
						cursor: pointer;
						@include transition;
						transition-property: background;
						&:hover {
							background: $brand-accent-3;
						}
						@include phone {
							width: 100%;
						}
					}
				}
				.accountDataBlock {
					@include flex-column;
					label {
						font-size: 14px;
						color: $black-07;
					}
					input {
						width: 300px;
						height: 30px;
						font-size: 16px;
						border-radius: 6px;
						border: 1px solid $brand-accent-2;
						margin-top: 6px;
						padding: 0 10px;
						margin-bottom: 20px;
						@include transition(0.06s);
						transition-property: background, border;
						&:hover {
							background: $brand-accent-3;
						}
						&:focus {
							border-color: $brand-purple;
							background-color: white;
						}
						&:disabled {
							border: 1px solid $brand-accent-3;
							&:hover {
								background-color: rgba(255, 149, 149, 0.4);
							}
						}
						&[type="submit"] {
							background-color: $brand-purple;
							height: 40px;
							color: white;
							cursor: pointer;
							box-shadow: $shadow-default;
							&:hover {
								background: darken($brand-purple, 4%);
							}
							&:active {
								background: darken($brand-purple, 6%);
							}
						}
					}
				}
			}
		}

		.calendarPage {
			@include flex-row;
			width: 100%;
			padding: 30px;
			@include phone {
				flex-direction: column;
				padding: 20px;
			}
			.bigCalendar {
				width: 600px;
				height: 100%;
				background: white;
				border-radius: 20px;
				box-shadow: $shadow-default;
				@include phone {
					width: 100%;
					height: fit-content;
				}
				.dateSwitcher {
					@include flex-row;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					height: 70px;
					padding: 0 30px;
					@include phone {
						height: 50px;
						padding: 0 20px;
					}
					.dateMonth {
						font-size: 28px;
						line-height: 36px;
						font-weight: 700;
						@include font-proxima;
						@include phone {
							font-size: 18px;
							line-height: 20px;
						}
					}
					.dateButtons {
						.dateSwitch {
							width: 20px;
							height: 20px;
							@include phone {
								width: 16px;
								height: 16px;
							}
							svg {
								width: 70%;
								height: 70%;
								fill: $black-07;
								opacity: 0.85;
								transform: rotate(90deg);
								@include transition;
								transition-property: fill;
							}
							&:last-child {
								svg {
									transform: rotate(-90deg);
								}
								margin-left: 30px;
							}
							&:hover {
								svg {
									fill: $brand-purple;
								}
							}
							&:active {
								svg {
									fill: $brand-accent-1;
								}
							}
						}
					}
				}
				.dateList {
					width: 100%;
					height: calc(100% - 50px);
					padding: 10px;
					@include phone {
						height: calc(100% - 40px);
						padding: 0 10px;
					}
					.dateHeading {
						width: 100%;
						height: 20px;
						display: grid;
						grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
						grid-template-rows: 1fr;
						gap: 0px 0px;
						grid-template-areas: ". . . . . . .";
						@include phone {
							height: 10px;
							padding: 0;
							margin-bottom: 10px;
						}
						span {
							@include flex-center;
							font-style: normal;
							font-weight: normal;
							font-size: 14px;
							line-height: 21px;
							@include phone {
								font-size: 12px;
								line-height: 16px;
							}
						}
					}
					.dateContent {
						width: 100%;
						height: calc(100% - 20px);
						display: grid;
						grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
						grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
						gap: 0px 0px;
						grid-template-areas:
							". . . . . . ."
							". . . . . . ."
							". . . . . . ."
							". . . . . . ."
							". . . . . . .";
						@include phone {
							height: calc(100% - 10px);
						}
						.dateElement {
							height: 81px;
							border-radius: 50%;
							background: transparent;
							@include flex-center;
							flex-direction: column;
							@include transition;
							transition-property: background;
							&:hover {
								background: $brand-accent-2;
							}
							&:active {
								background: $brand-accent-3;
							}
							&[name="selected"] {
								background: $brand-purple;
								.dateElementNumber {
									color: white;
								}
							}
							&[label="today"] {
								border: 2px solid $brand-purple;
							}
							@include phone {
								height: 40px;
							}
							.dateElementNumber {
								font-size: 20px;
								line-height: 27px;
								background-color: transparent;
								&[name="skip"] {
									background: transparent;
									color: transparent;
								}
								@include phone {
									font-size: 14px;
									line-height: 16px;
								}
							}
							svg {
								width: 4px;
							}
						}
						.dateSkipped {
							height: 100px;
							background: transparent;
							@include flex-center;
							@include phone {
								height: 60px;
							}
						}
					}
				}
			}
			.eventList {
				width: calc(100% - 600px);
				height: 100%;
				margin-left: 40px;
				@include phone {
					width: 100%;
					height: fit-content;
					margin-left: 0;
					margin-top: 20px;
				}
				.eventListDate {
					margin-bottom: 30px;
				}
				.eventListItems {
					width: 100%;
					height: 600px;
					overflow: hidden auto;
					&::-webkit-scrollbar {
						width: 8px;
					}
					&::-webkit-scrollbar-track {
						background: $brand-accent-3;
						border-radius: 10px;
					}
					&::-webkit-scrollbar-thumb {
						background: $brand-accent-1;
						border-radius: 10px;
					}
					&::-webkit-scrollbar-thumb:hover {
						background: $brand-purple;
					}
					.eventElement {
						@include anim-fade-in;
						@include flex-row;
						justify-content: space-between;
						align-items: center;
						width: 100%;
						height: 100px;
						border-bottom: 1px solid $brand-accent-3;
						cursor: pointer;
						@include transition;
						transition-property: background;
						.eventElementWrapper {
							width: 100%;
							height: 100%;
							@include flex-row;
							align-items: center;
							.eventElementTarget {
								font-weight: 500;
								font-size: 26px;
								line-height: 39px;
								margin-right: 20px;
							}
							.eventElementData {
								@include flex-column;
								.eventElementCategory {
									font-weight: 300;
									font-size: 18px;
									line-height: 20px;
									opacity: 0.5;
								}
								.eventElementTitle {
									font-size: 24px;
									line-height: 30px;
								}
								.eventElementDuration {
									font-size: 16px;
									opacity: 0.7;
								}
							}
						}
						.eventElementArrow {
							@include flex-center;
							width: 50px;
							height: 50px;
							svg {
								width: 40%;
								fill: $black-04;
								transform: rotate(180deg);
								@include transition;
								transition-property: fill;
							}
						}
						&:hover {
							.eventElementArrow {
								svg {
									fill: $brand-purple;
								}
							}
						}
						&:active {
							background: $brand-accent-3;
						}
					}
					.eventListAdd {
						@include anim-fade-in;
						@include flex-center;
						width: 100%;
						height: 80px;
						margin-top: 10px;
						border-radius: 16px;
						border: 2px solid $brand-accent-3;
						user-select: none;
						cursor: pointer;
						svg {
							width: 24px;
							path {
								stroke: darken($brand-accent-1, 15%);
							}
						}
						.eventListAddText {
							@include font-proximasoft;
							margin-left: 6px;
							font-size: 20px;
							color: darken($brand-accent-1, 15%);
						}
						@include transition;
						&:hover {
							background-color: $brand-accent-3;
							border: 2px solid $brand-purple;
						}
						&:active {
							background-color: $brand-accent-2;
						}
					}
				}
			}
		}
	}
}
