@use 'index.scss' as *;

.calendarList {
    @include flex-row;
    width: 100%;
    height: calc(100% - 100px);
    overflow: hidden scroll;
    scroll-behavior: smooth;
    padding: 30px;
    section {
        @include flex-column;
        justify-content: space-between;
        width: 340px;
        height: 340px;
        padding: 24px;
        background-color: white;
        box-shadow: $shadow-default;
        border-radius: 12px;

        div {
            @include flex-column;
            div {
                margin-top: 40px;
                span {
                    @include flex-row;
                    align-items: center;
                    margin-top: 14px;
                    &:first-child {
                        margin: 0;
                    }
                    font-weight: 400;
                    font-size: 16px;

                    svg {
                        width: 16px;
                        height: 16px;
                        fill: $brand-purple;
                        margin-right: 6px;
                    }
                }
            }
        }
        button {
            width: 100%;
            height: 40px;
            background: $brand-purple;
            color: white;
            font-size: 15px;
            font-weight: 600;
            letter-spacing: 1px;
            border-radius: 10px;
        }
    }
}