$brand-purple: #6775ee;
$brand-accent-1: #b8bef3;
$brand-accent-2: #ccd1f5;
$brand-accent-3: #e0e3f6;
$brand-white: rgb(250, 249, 250);
$danger-red: rgba(255, 0, 0, 0.6);
$white-gray: #727272;
$black-07: rgba(0, 0, 0, 0.7);
$black-04: rgba(0, 0, 0, 0.4);
$black-004: rgba(0, 0, 0, 0.04);
$black-accent-header: #252525;
$black-accent-paragraph: #484848;
$black-svg: #1a1918;
$shadow-lighten: 0px 2px 14px rgba(0, 0, 0, 0.07);
$shadow-default: 0px 4px 17px rgba(0, 0, 0, 0.1);
$shadow-darken: 0px 0px 20px rgba(0, 0, 0, 0.25);
$transition-default: 0.1s cubic-bezier(1, 0.3, 0.51, 0.6);

@mixin phone {
	@media (min-width: 280px) and (max-width: 768px) {
		@content;
	}
}

@mixin anim-pop-up {
	animation: popUp 0.1s ease forwards;
	opacity: 0;
	@keyframes popUp {
		0% {
			opacity: 0;
			transform: translateY(100%);
		}
		50% {
			opacity: 0.5;
		}
		100% {
			opacity: 1;
			transform: translateX(0);
		}
	}
}

@mixin anim-fade-in {
	animation: fadeIn 0.5s ease forwards;
	opacity: 0;
	@keyframes fadeIn {
		0% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}
}

@mixin unselectable {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

@mixin flex-column {
	display: flex;
	flex-direction: column;
}

@mixin flex-row {
	display: flex;
	flex-direction: row;
}

@mixin font-proxima {
	font-family: "Proxima Nova", Roboto, Arial, Helvetica, sans-serif;
	font-style: normal;
}

@mixin font-proximasoft {
	font-family: "Proxima Soft", Roboto, Arial, Helvetica, sans-serif;
	font-style: normal;
}

@mixin font-highlight {
	font-family: "Highlight", Roboto, Arial, Helvetica, sans-serif;
	font-style: normal;
}

@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin grid-center {
	display: grid;
	place-items: center;
}

@mixin transition($duration: 0) {
	@if $duration != 0 {
		transition: $duration cubic-bezier(1, 0.3, 0.51, 0.6);
	} @else {
		transition: $transition-default;
	}
	transition-property: background, border, fill, transform, box-shadow, stroke;
}
