@use "./index.scss" as *;

.welcome {
	@include flex-column;
	width: 100%;
	height: calc(100% - 100px);
	align-items: center;

	.welcomeHead {
		@include flex-column;
		align-items: center;
		width: 70%;
		height: fit-content;

		.welcomeHeadH {
			@include font-highlight;
			font-size: 72px;
			letter-spacing: 4px;
			margin: 50px 0;
			color: darken($brand-purple, 5%);
		}
		.welcomeHeadS {
			font-size: 26px;
			line-height: 42px;
			text-align: center;
			width: 50%;
		}
	}
	.welcomeInfo {
		@include flex-column;
		align-items: center;
		width: 70%;
		height: fit-content;
		.welcomeInfoBlock {
			width: 100%;
			height: fit-content;
			@include flex-row;
			justify-content: space-between;
			margin: 60px 0;
			.welcomeInfoBlockText {
				width: calc(100% - 720px);
				@include flex-column;
				align-items: flex-start;
				justify-content: center;
				.welcomeInfoBlockTextH {
					font-size: 40px;
					margin-bottom: 30px;
					color: darken($brand-purple, 5%);
				}
				.welcomeInfoBlockTextS {
					font-size: 24px;
				}
			}
		}
	}
	.welcomeAd {
		@include flex-center;
		flex-direction: column;
		width: 100%;
		margin: 60px 0;
		svg {
			width: 200px;
		}
	}
	.welcomeButtonStart {
		@include flex-center;
		width: 245px;
		height: 60px;
		background: $brand-purple;
		border-radius: 50px;
		color: white;
		font-weight: 600;
		font-size: 20px;
		line-height: 30px;
		margin-top: 50px;
		@include transition;

		&:hover {
			background: darken($brand-purple, 10%);
		}
		&:active {
			background: darken($brand-purple, 5%);
		}
	}
	.footer {
		width: 100%;
		height: 100px;
		padding: 0 100px;
		@include flex-row;
		justify-content: space-between;
		align-items: center;
		.footerLeft {
			svg {
				width: 40px;
				fill: none;
				margin: 0 10px 0 0;
				cursor: default;
			}
			a {
				@include flex-center;
				height: 100%;
				cursor: pointer;
				margin-left: 4px;
				&:nth-child(3) {
					margin-left: 20px;
				}
				svg {
					width: 20px;
					fill: $black-04;
				}
			}
			height: 100%;
			width: fit-content;
			@include flex-center;
			font-size: 14px;
			font-weight: 500;
		}
	}
}
